{% extends 'base.html' %}
{% block title %} Viral Groww International Partners {% endblock %}
  {% block meta %}
  <meta name="description" content="Our company- Viral Groww and The African Business Machine is working together to  help companies based in Nigeria with the Marketing aspect for their respective businesses.">
  <meta name="keywords" content="Best Digital Marketing company in Nigeria | Affordable Digital company in Nigeria | Affordable Digital Marketing packages in Nigeria | SEO Services in Nigeria">

  {% endblock %}
    {% block css %}
<style>
.body{background-color:#fffbfb;}
        #part{padding-left:0px; padding-right:0px; margin-top:0px;}
        #part img{width:100%; height:390px; opacity:0.9;}
        #international{margin-top:80px; margin-bottom:50px;}
        @media(max-width:768px){
          #international{margin-top: -80px; margin-bottom: 30px;}
        }
        @media(max-width:768px)
        {
         #part{margin-top:0px; padding-left:0px; padding-right:0px;}
         #part img{width:100%; height:auto;}
         .a img{width:100%; height:auto;}
         }
         .btn-warning{color: #fff;
            background-color: #ff4800;
            border-color: #ff4800;
             border-radius: 100px;}
         #more {display: none;}
         .menu_list{padding-left:20px;}
         .menu_list li{list-style: disc;}
         </style>
        {% endblock %}
  {% block content %}
{% load static %}

  <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/partner.jpg' %});">
        <div class="auto-container">
            <h1>INTERNATIONAL PARTNERS</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>International Partners</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
<!--<div class="container-fluid " id="part" style="padding-left:0px; padding-right:0px;">-->
<!--<img class=" animated slideInLeft delay-2s" src="{% static 'images/background/partner.jpg' %}">-->
<!--</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 a animated slideInLeft delay-2s">
            <img src="{% static 'images/partners/africa.png'%}">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 animated slideInRight delay-2s" id="international">
            <p class="text-justify"> Nigeria is an African Country on the Gulf of Guinea.<b> Mr. Oluwaseun Ambassador</b>,
                our International Local Business Partner from Nigeria, has signed a deal with us, in order to help Business Owners in Nigeria,
                to leverage on the power of the internet, to take their businesses to the next level.</p>
            <p class="text-justify">Our company -<b> Viral Groww & African Business Machine</b>, is working together to help companies based in Nigeria,
                with the Marketing Aspect of their respective businesses.
                Digital Marketing is on the rise in Nigeria, with broadband reaching every corner of this African Country. </p>
            <p class="text-justify">Oluwaseun is the Founder of <b> "African Business Machine," </b> who is now getting into a joint venture with our company.<br>
                <b> His company provides services like;</b></p>
            <p class="text-justify">
                <ul class="menu_list">
            <li>Holistic Social Media Management</li>
            <li>Graphics Designing</li>
            <li>Word of Mouth Marketing</li>
            <li>Copywriting/Content Creation - SEO</li>
            <li>Friendly Content</li>
        </ul>
            </p>
            <p class="text-justify" style="margin-top:30px;">After the association of the two companies, we have made some new additions to our services.
Now we are providing Total Startup Solution with services like; </p>
            <p class="text-justify">
                <ul class="menu_list">
            <li>Website Development</li>
            <li>Search Engine Optimization</li>
            <li>Social Media Marketing</li>
        </ul>
            </p>
              <p class="text-justify">
                We have crafted our packages according to the demands of the Nigerian Market.<br>
                  We have a combined experience of more than six years in this field,
                  which will be of much use to the Marketing Department of your Business Venture or Company.
            </p>
            <p class="text-justify">Robust Team. Experienced Marketers. More than 100+ Partners all over the Globe.<br>
                To book a consultation with our International Local Business Partner in Nigeria,
                please fill-up the form below or reach us directly on <br><b> +234 803 578 5964.</b>
            </p>
            <p class="text-justify">You may also visit us to discuss over a cup of coffee, at our Corporate Office: "Block B, Suite 2002, Nepa Mall, Akure, Ondo State."</p>

    <!--Quote Section-->
    <section class="quote-section">
    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Quote Form Column-->
                <div class="quote-form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-column">

                        <!--Quote Form-->
                        <div class="quote-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ quote_form.name }}

                                             <input type="text" name="username" placeholder="Name*" required>
                                        </div>
                                        <div class="form-group">
                                            {{ quote_form.quote_email }}
                                             <input type="email" name="email" placeholder="Email*" required>
                                        </div>
                                        <div class="form-group">
                                            {{ quote_form.website }}
                                             <input type="text" name="website" placeholder="Subject" required>
                                        </div>
                                    </div>

                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                    	<div class="form-group">
                                            {{ quote_form.service }}
                                            <!-- <select class="custom-select-box">
                                                <option>Social Media Marketing</option>
                                                <option>Website Development</option>
                                                <option>SEO & Website Development</option>
                                                <option>SEO, SMO & Website Development</option>
                                                <option>I want to talk to your executive.</option>
                                            </select> -->
                                        </div>
                                        <div class="form-group">
                                            {{ quote_form.message }}
                                             <textarea name="message" placeholder="Your Message (Optional)"></textarea>
                                        </div>
                                    </div>
                                    <div class="column btn-column col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

        </div>
    </div>
</div>


    <!--End Quote Section-->






{% block js%}

{% endblock %}
{% endblock %}

