 {% extends 'base.html'%}
  {% block title %}Logo design company| logo design services| logo design agency{% endblock %}
   {% block meta %}
  <meta name="description" content="Get the best Logo Design Services for your brand to boost your brand identity. Get your custom logo design for your website from the Delhi best logo design company.
">
  <meta name="keywords" content="Logo design company, logo design services, logo design agency, Logo design company Delhi, Logo design company Delhi, cheap logo design services
">

  {% endblock %}
  {% block content %}
  {% load static %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/pattern-4.png);">
        <div class="auto-container">
            <h1>LOGO DESIGN COMPANY IN DELHI</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Logo Designing</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar services-sidebar">
						
                        <div class="sidebar-title">
                            <h2>Add On services</h2>
                        </div>
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat-two">                                
                                <li class="active"><a href="{% url 'logo' %}">Logo Designing</a></li>
                                <li><a href="{% url 'video' %}">Video Editing</a></li>
                                <li><a href="{% url 'content' %}">Content Writing</a></li>
                                <li><a href="{% url 'brand' %}">Brand Management</a></li>
                            </ul>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget sidebar-brochure">
                        	<div class="sidebar-title">
                                <h2>Our Brochures</h2>
                            </div>
                        	<a class="brochure" href="#"><span class="icon flaticon-pdf"></span>Service Overview <span>Download.pdf</span></a>
                            <a class="brochure" href="#"><span class="icon flaticon-word-file"></span>About Our Company <span>Download.doc</span></a>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget testimonial-widget">
                            <div class="sidebar-title">
                                <h2>Testimonials</h2>
                            </div>
                            <div class="single-item-carousel owl-carousel owl-theme">
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Ayush Garg</h3>
                                                <div class="location">Softsmart, Punjab</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Groww has not only increased our visibility but also provide us full digital marketing service that encompasses social media, demand generation, digital advertising, search engine optimization, email, and marketing automation.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">                                                
                                                <h3>David</h3>
                                                <div class="location">Maxi Adventures, New Zealand</div>
                                            </div>
                                        </div>
                                        <div class="text">We started working with Viral Grow Marketing solutions from their establishment and they have been amazing. The success we have undergone year over has strengthened our position in Appareal’s Market.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Abhijeet Poddar</h3>
                                                <div class="location">Qualmart Fabrics, Delhi</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Grow Marketing Solutions has been very helpful in increasing our online visibility and lead generation from ad campaigns and organic search. I am really impressed with their high level of service.The team of Viral Groww is Professional and responsive.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                	<!--Services Single-->
                	<div class="services-single">
						<div class="inner-box">
                        	<h2>Logo Designing</h2>
                            <div class="image">
                                <img src="{% static 'images/resource/service-10.jpg' %}">
                            </div>
                            <div class="lower-content">
                            	<div class="text">
                                    <strong>Logo, the visual identity of an organization - can tell the story of an organization's story to its Audience.</strong>
                                	<p>In every Article or Magazine, you read you will feel the importance of LOGO, that means it is true that it is the face of a company. The logo of any company is symbolic depiction and also tells about company core values and beliefs on which it was founded.<br>
                                    Apart from Digital Marketing, we are also in logo design service. We have a creative and professional team to design your logo and transform it into reality. Our logo design team can create a unique and elite identity for your company that it deserves.</p>
                                    <h3>Why Viral Groww for Logo designing?</h3>                                    
                                    <ol>
                                        <li><strong>Simple: </strong>We design a logo that has a simple approach to describe the company, brand or organization clearly.</li>
                                        <li><strong>Recognition: </strong>We know how branding works, and that's how we strategize and plan to promote your brand so that your customers can recognize by your brand.</li>
                                        <li><strong>Attractive: </strong>: Logos made by us are more appreciating and will keep your brand remembered by everyone.</li>
                                        <li><strong>Life long Impressions: </strong>Image is crucial that's why our designed logo's for companies leave a lifelong impression.</li>
                                        <li><strong>Uniqueness:</strong> Create a customized logo so that they can reveal the uniqueness of your business.</li>
                                        <li><strong>Affordable: </strong>Our logo design packages are cheap and budget-friendly in comparison to other service providers.</li>
                                    </ol>
                                </div>
                                <!--Two Column-->                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Quote Section-->
    <section class="quote-two-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Title Column-->
                <div class="title-column col-md-3 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Request a Quote</h2>
                        <div class="text">Your details are kept strictly confidential as per our company private & privacy policy.</div>
                        <a class="plans" href="{% url 'contact' %}"><span class="arrow flaticon-right-arrow-1"></span>Pricing Plans</a>
                    </div>
                </div>
                
                <!--Form Column-->
                <div class="form-column col-md-9 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="text">For any inquiry, fill the form below:</div>
                        
                        <!--Contact Form-->
                        <div class="quote-form style-two">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.name }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.inquiry_email }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.service }}
                                        </div>
                                    </div>
                                    
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.requirements }}
                                        </div>
                                    </div>
                                    <div class="column btn-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Quote Section-->


 {% endblock %}
