  {% extends 'base.html'%}
  {% block title %} Privacy Policy -Viralgroww {% endblock %}
  {% block css %}
  .policy_content p{margin-top: 15px;
    margin-bottom: 26px;
    text-align: justify;}
   .policy_content  h4{font-weight:bold;}
  {% endblock %}
  {% block content %}
  {% load static %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/6.jpg' %});">
        <div class="auto-container">
            <h1>PRIVACY POLICY</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->

<div class="container" style="margin-top:50px; margin-bottom:50px;">
    <div class="row">
        <div class="col-lg-12 policy_content">
            <p>Viral Grow Marketing Solutions has created this privacy statement in order to demonstrate our firm commitment to privacy.
                The following discloses our information gathering and dissemination practices for this website:<a href=" http://www.viralgroww.com">www.viralgroww.com</a>
</p>
 <p>Viral Grow Marketing Solutions use your IP address to help diagnose problems with our server and to administer our Website. Your IP address is used to gather broad demographic information.</p>
<p>Viral Grow Marketing Solutions site’s registration form requires users to give us contact information (like their name and email address) and demographic information (like their zip code, age or income level). The customer’s contact information is used to contact the visitor when necessary.
    Users may opt-out of receiving future mailings; see the choice/opt-out section below. Demographic and profile data is also collected at our site. We use this data to tailor the visitor’s experience at our site, showing them content that we think they might be interested in and displaying the content according to their preferences.
</p>
            <p>This site contains links to other sites. <a href="http://www.viralgroww.com">www.viralgroww.com</a> is not responsible for the privacy practices or the content of such Websites.
</p>
            <p>Viral Grow Marketing Solutions site uses an order form for customers to request information, products and services. We collect visitor’s contact information (like their email address) and demographic information (like their zip code, age or income level). Contact information from the order form is used to send orders to our customers. The customer’s contact information is used to get in touch with the visitor when necessary. Users may opt-out of receiving future mailings; see the choice/opt-out section below. Demographic and profile data is also collected at our site. We use this data to tailor our visitor’s experience at our site, showing them content that we think they might be interested in and displaying the content according to their preferences.
</p>
            <p>Viral Grow Marketing Solutions online surveys ask visitors for contact information (like their email address) and demographic information (like their zip code, age or income level). We use contact data from our surveys to send the user information about our company. The customer’s contact information is also used to contact the visitor when necessary. Users may opt-out of receiving future mailings; see the choice/opt-out section below. Demographic and profile data is also collected at our site. We use this data to tailor our visitor’s experience at our site, showing them content that we think they might be interested in and displaying the content according to their preferences. </p>
            <p>We run contests on our site in which we ask visitors for contact information (like their email address) and demographic information (like their zip code, age or income level). We use contact data from our contests to send users information about our company. The customer’s contact information is also used to contact the visitor when necessary. Users may opt-out of receiving future mailings; see the choice/opt-out section below. Demographic and profile data is also collected at our site. We use this data to tailor our visitor’s experience at our site, showing them content that we think they might be interested in and displaying the content according to their preferences.
</p>
            <h4>Children’s Guidelines</h4>
            <p>Not collect online contact information without prior parental consent or parental notification, which will include an opportunity for the parent to prevent use of the information and participation in the activity. Without prior parental consent, online information will only be used to respond directly to the child’s request and will not be used for other purposes without prior parental consent.
</p>
            <p>Not collect personally identifiable offline contact information without prior parental consent.</p>
            <p>Not distribute to third parties any personally identifiable information with out prior parental consent.</p>
            <p>Not give the ability to publicly post or otherwise distribute personally identifiable contact information without prior parental consent.<br>
NOT entice by the prospect of a special game, prize or other activity to divulge more information than is needed to participate in the activity.
</p>
            <h4>Choice/Opt-Out</h4>

            <p>This site gives users the following options for removing their information from our database to not receive future communications or to no longer receive our service.</p>
            <p>You can send email to info@viralgroww.com</p>
              <h4> Correct/Update</h4>
            <p>This site gives users the following options for changing and modifying information previously provided.</p>
            <p><strong>Email to info@viralgroww.com</strong></p>





        </div>
    </div>
</div>


  {% endblock %}