  {% extends 'base.html'%}
  {% block title %} Qrow your business - ViralGroww {% endblock %}
  {% block content %}
  {% load static %}
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/pattern-4.png' %});">
        <div class="auto-container">
            <h1>Request Free Audit</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="index">Home</a></li>
                        <li>Grow Your Business</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
    
    <!--Quote Section-->
    <section class="quote-section">
    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Quote Info Column-->
                <div class="quote-info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<!-- <h2>Your SEO Quote Will Include:</h2>
                        <ul class="list-style-one">
                        	<li>Google Search Volumes</li>
                            <li>Keyword Rankings</li>
                            <li>Recommended SEO Plan</li>
                            <li>Keyword Rankings</li>
                        </ul> -->
                        <h3>When are you looking to get started?</h3>
                        <!--Checkbox Form-->
                        <div class="checkbox-form">
                            <form method="post">
                            {% csrf_token %}
								<div class="form-group">
                                    <div class="select-box">
                                        <input type="checkbox" name="payment-group" id="radio-one">
                                        <label for="radio-one">
                                            <span class="default-check"></span>
                                            <span class="check-icon fa fa-check"></span>
                                            I’d like to get started within the Week
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="select-box">
                                        <input type="checkbox" name="payment-group" id="radio-two">
                                        <label for="radio-two">
                                            <span class="default-check"></span>
                                            <span class="check-icon fa fa-check"></span>
                                            I’m not sure, I’m just researching
                                        </label>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <!--Quote Form Column-->
                <div class="quote-form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-column">

                        <!--Quote Form-->
                        <div class="quote-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ quote_form.name }}

                                            <!-- <input type="text" name="username" placeholder="Name*" required> -->
                                        </div>
                                        <div class="form-group">
                                            {{ quote_form.quote_email }}
                                            <!-- <input type="email" name="email" placeholder="Email*" required> -->
                                        </div>
                                        <div class="form-group">
                                            {{ quote_form.website }}
                                            <!-- <input type="text" name="website" placeholder="Website" required> -->
                                        </div>
                                        <div class="form-group">
                                            {{ quote_form.business }}
                                            <!-- <input type="text" name="business" placeholder="Type of Business" required> -->
                                        </div>
                                    </div>
                                    
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                    	<div class="form-group">
                                            {{ quote_form.service }}
                                            <!-- <select class="custom-select-box">
                                                <option>Social Media Marketing</option>
                                                <option>Website Development</option>
                                                <option>SEO & Website Development</option>
                                                <option>SEO, SMO & Website Development</option>
                                                <option>I want to talk to your executive.</option>
                                            </select> -->
                                        </div>
                                        <div class="form-group">
                                            {{ quote_form.message }}
                                            <!-- <textarea name="message" placeholder="Your Message (Optional)"></textarea> -->
                                        </div>
                                    </div>
                                    <div class="column btn-column col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Request Free Audit</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Quote Section-->

  {% endblock %}
    
