  {% extends 'base.html'%}
  {% block title %}SEO Company in Delhi | SEO Services Provider Delhi | SEO Company {% endblock %}
    {% block meta %}
  <meta name="description" content="Expert Agency in Ranking Websites at top of any search engine. Best Local SEO services provider company in Delhi. Call at +91 9625165218 for inquiry.">
  <meta name="keywords" content="seo company, seo companies, seo company in Delhi, seo companies in Delhi, top seo company in Delhi, best seo companies in Delhi, Local SEO companies in Delhi, SEO agencies, SEO providers, Local SEO Services, Local SEO Company, Local SEO Agencies, seo services Delhi
">

  {% endblock %}
  {% block content %}
  {% load static %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/pattern-4.png' %});">
        <div class="auto-container">
            <h1>SEO COMPANY IN DELHI</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
                <div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Search Engine Optimization</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar services-sidebar">
                        
                        <div class="sidebar-title">
                            <h2>Our services</h2>
                        </div>
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat-two">
                                <li><a href="{% url 'digital' %}">Digital Marketing</a></li>
                                <li class="active"><a href="{% url 'seo' %}">Search Engine Optimization</a></li>
                                <li><a href="{% url 'smo' %}">Social Media Optimization</a></li>
                                <li><a href="{% url 'web' %}">Web Development</a></li>
                                <li><a href="{% url 'ppc' %}">PPC Click Management</a></li>
                                <li><a href="{% url 'software' %}">Customized Software Development</a></li>
                            </ul>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget sidebar-brochure">
                            <div class="sidebar-title">
                                <h2>Our Brochures</h2>
                            </div>
                            <a class="brochure" href="#"><span class="icon flaticon-pdf"></span>Service Overview <span>Download.pdf</span></a>
                            <a class="brochure" href="#"><span class="icon flaticon-word-file"></span>About Our Company <span>Download.doc</span></a>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget testimonial-widget">
                            <div class="sidebar-title">
                                <h2>Testimonials</h2>
                            </div>
                            <div class="single-item-carousel owl-carousel owl-theme">
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Ayush Garg</h3>
                                                <div class="location">Softsmart, Punjab</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Groww has not only increased our visibility but also provide us full digital marketing service that encompasses social media, demand generation, digital advertising, search engine optimization, email, and marketing automation.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">                                                
                                                <h3>David</h3>
                                                <div class="location">Maxi Adventures, New Zealand</div>
                                            </div>
                                        </div>
                                        <div class="text">We started working with Viral Grow Marketing solutions from their establishment and they have been amazing. The success we have undergone year over has strengthened our position in Appareal’s Market.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Abhijeet Poddar</h3>
                                                <div class="location">Qualmart Fabrics, Delhi</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Grow Marketing Solutions has been very helpful in increasing our online visibility and lead generation from ad campaigns and organic search. I am really impressed with their high level of service.The team of Viral Groww is Professional and responsive.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!--Services Single-->
                    <div class="services-single">
                        <div class="inner-box">
                            <h2>Search Engine Optimization</h2>
                            <div class="image">
                                <img src="{% static 'images/resource/service-2.jpg' %}" alt="" />
                            </div>
                            <div class="lower-content">
                                <div class="text">
                                    <h3>WHY SEO SERVICE REQUIRED FOR ONLINE PRESENCE?</h3>
                                    <p>SEO nowadays is in high demand as it is a need of the hour. These are the services given by expert service provider in which practices of Search Engine Optimization are being used in order to increase the number of visitors on the website by having the higher rank on search engine. If anyone wants their website to come on the top of the search engine then they have to optimize it as per google algorithm.<br>
                                    Now the question arises that why we need Optimization Service so the answer is whenever anyone have any kind of doubt they just go on search engines and just write a keyword to know the best-associated answer with it and as soon as we enter, the list comes in front of our eyes and have we ever bothered how this listing or how this priority has been done on the search engine. So if we want our website to come on the top of the list, then there comes the use of search engine optimization. </p>
                                    <h3>What are the advantages of SEO? Why someone should go with SEO Services?</h3>
                                    <p>By optimizing, The website gets the higher ranking on search engines and The traffic on our website will also increase along with it. It will admire for competitors, and along with all these, it will also take the business to another level and its even very cost effective marketing tactics.<<br>
                                    Here are some tips:</p>
                                    <ul>
                                        <li>- Time Saving</li>
                                        <li>- Cost-Effective</li>
                                        <li>- Bring in MORE Customers</li>
                                        <li>- Build Brand Awareness</li>
                                        <li>- Better Conversion Rates</li>
                                        <li>- Safe & Secure</li>
                                    </ul>
                                    <h3>HOW VIRAL GROWW, THE BEST SEO COMPANY IN DELHI IS GOING TO HELP YOU?</h3>
                                    <p>Viral Grow Marketing Solutions is the best in Delhi because: </p>
                                    <ul>
                                        <li>1. Best Class Strategies<br>
                                        We have a wide range of employees and clients too, and we had a good and sought understanding of the strategies that work best.</li>
                                        <li>2. Massive Experience<br>
                                        We have massive experience in this field and know how to take out the result, and we have also helped a lot our previous customers with the SEO service</li>
                                        <li>3. Proper & Safe<br>
                                        We will provide the proper and safe SEO service because we know every in and out.</li>
                                        <li>4. Help You, Get Rid of Spammers<br>
                                        We are aware of the fact that SEO invites hacking spamming and it can be risky also so we know how to get rid of these negative consequences and keep our website ranked higher on the search engines.</li>
                                        <li>5. Professional & Trained Experts<br>
                                        Viral Groww has well-skilled employees and an excellent and hard-working, vigorous team. We provide resources at a lower cost.Viral Groww has experienced and efficient team that gives you guaranteed results.</li>
                                        <li>6. Improve Your Local search<br>
                                        Proximity, Relevance, and Prominence are the three key points for Local optimization of your business.</li>
                                    </ul>
                                    <p>Either business is big or small they all need a presence and existence online and that is the way to grow our business.</p>
                                    <h3>What we offer in Social Media Optimization?</h3>
                                    <ul>
                                        <li>- Website localization</li>
                                        <li>- Citation Building</li>
                                        <li>- Claiming your Google My Business listing</li>
                                        <li>- We will Manage reviews and ratings of Your Google business page</li>
                                        <li>- Help Your website in getting quality, relevant backlinks</li>
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Quote Section-->
    <section class="quote-two-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Title Column-->
                <div class="title-column col-md-3 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>Request a Quote</h2>
                        <div class="text">Your details are kept strictly confidential as per our company private & privacy policy.</div>
                        <a class="plans" href="{% url 'contact' %}"><span class="arrow flaticon-right-arrow-1"></span>Pricing Plans</a>
                    </div>
                </div>
                
                <!--Form Column-->
                <div class="form-column col-md-9 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="text">For any inquiry, fill the form below:</div>
                        
                        <!--Contact Form-->
                        <div class="quote-form style-two">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.name }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.inquiry_email }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.service }}
                                        </div>
                                    </div>
                                    
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.requirements }}
                                        </div>
                                    </div>
                                    <div class="column btn-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
    </section>
    <!--End Quote Section-->

  {% endblock %}
