  {% extends 'base.html'%}
  {% block title %} Top Video Editing Services Company in Delhi {% endblock %}
    {% block meta %}
  <meta name="description" content="We create Videos that can attract customers and boost your search traffic. We provide the best video editing services in Delhi at cheap rates.
">
  <meta name="keywords" content="video editing services, video editing company, video editing services Delhi, video editing Delhi, cheap video editing services
">

  {% endblock %}
  {% block content %}
  {% load static %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/pattern-4.png' %});">
        <div class="auto-container">
            <h1>VIDEO EDITING SERVICES IN DELHI</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Video Editing</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar services-sidebar">
						
                        <div class="sidebar-title">
                            <h2>Add On services</h2>
                        </div>
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat-two">                                
                                <li><a href="{% url 'logo' %}">Logo Designing</a></li>
                                <li class="active"><a href="{% url 'video' %}">Video Editing</a></li>
                                <li><a href="{% url 'content' %}">Content Writing</a></li>
                                <li><a href="{% url 'brand' %}">Brand Management</a></li>
                            </ul>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget sidebar-brochure">
                        	<div class="sidebar-title">
                                <h2>Our Brochures</h2>
                            </div>
                        	<a class="brochure" href="#"><span class="icon flaticon-pdf"></span>Service Overview <span>Download.pdf</span></a>
                            <a class="brochure" href="#"><span class="icon flaticon-word-file"></span>About Our Company <span>Download.doc</span></a>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget testimonial-widget">
                            <div class="sidebar-title">
                                <h2>Testimonials</h2>
                            </div>
                            <div class="single-item-carousel owl-carousel owl-theme">
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Ayush Garg</h3>
                                                <div class="location">Softsmart, Punjab</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Groww has not only increased our visibility but also provide us full digital marketing service that encompasses social media, demand generation, digital advertising, search engine optimization, email, and marketing automation.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">                                                
                                                <h3>David</h3>
                                                <div class="location">Maxi Adventures, New Zealand</div>
                                            </div>
                                        </div>
                                        <div class="text">We started working with Viral Grow Marketing solutions from their establishment and they have been amazing. The success we have undergone year over has strengthened our position in Appareal’s Market.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Abhijeet Poddar</h3>
                                                <div class="location">Qualmart Fabrics, Delhi</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Grow Marketing Solutions has been very helpful in increasing our online visibility and lead generation from ad campaigns and organic search. I am really impressed with their high level of service.The team of Viral Groww is Professional and responsive.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                	<!--Services Single-->
                	<div class="services-single">
						<div class="inner-box">
                        	<h2>Video Editing</h2>
                            <div class="image">
                                <img src="{% static 'images/resource/service-8.jpg' %}">
                            </div>
                            <div class="lower-content">
                            	<div class="text">
                                    <strong>Engage Customers like never before through our Professional  Video Editing Services.</strong>
                                	<p>Video generates more lead as compared to Picture and written posts. The simplest yet best funda of video marketing is "The more charming videos you create, the more clients you get."<br>
                                    Video helps in explaining the company products, goals and ambition in a few minutes. It helps in generating revenues.<br><br>
                                    Viral Groww Video Editing Services at Patiala can give an extra dimension to your Videos through its Professional  Video Editing Services. Here are a few more reasons, which will make you think:</p>
                                    <ul>
                                        <li>•   Engaging Videos that can convert clicks into customers.</li>
                                        <li>•   As per Clients need</li>
                                        <li>•   On time publish of the video</li>
                                        <li>•   High Quality Work</li>
                                        <li>•   Quality Content on each video that can engage your audience</li>
                                        <li>•   Cost-effective services</li>
                                    </ul>
                                    <h3><br>Our Process:</h3>                                    
                                    <ul>
                                        <li><strong>Video Strategy:</strong><br>In our video strategy, first of all, we plan on video content that can give a clear and concise message. 2nd create targeted campaigns. 3rd Video Guidelines just like other marketing arsenals.</li>
                                        <li><strong>Video Production:</strong><br>Our professional video editor team makes videos that engage, inspire and compel people to act. We create Storytelling, Animation, Explainer, 3D and more.</li>
                                        <li><strong>Video Making:</strong><br>Apart from creating engaging videos we also work on optimization, like Youtube or any social video sites.</li>
                                    </ul>
                                    <h3><br>Types of Videos we create?</h3>
                                    <ul>
                                        <li>•   Promotional Videos</li>
                                        <li>•   Real Estate Video</li>
                                        <li>•   Non-Profit Video•   Corporate Videos</li>
                                        <li>•   Corporate Videos</li>
                                        <li>•   Training Videos</li>
                                        <li>•   Animation</li>
                                        <li>•   3D Video</li>
                                        <li>•   VFX</li>
                                        <li>•   Music video</li>
                                        <li>•   Explainer video</li>
                                        <li>•   Advertising Video</li>
                                        <li>•   Short videos</li>
                                    </ul>
                                    <h3><br>Why Choose Us?</h3>
                                    <ul>
                                        <li><strong>PRECISE</strong><br>We at ViralGroww Guarantee you that you will overwhelm after receiving our services. Our video editing team ensures that each element is captured.</li>
                                        <li><strong>PROFESSIONAL</strong><br>ViralGroww, Video editing team are professional and Award-winning and mainly known by their excellent work.</li>
                                        <li><strong>PERFECTION</strong><br>We produce high-quality videos that are genuine and engaging. We deliver videos on time.</li>
                                        <li><strong>Set your firm apart</strong><br>No Matter who is your competitor, The video you get from us will become the obvious choice in the market.</li>
                                        <li><strong>Grow your brand</strong><br>To fulfill whatever your need like generating customers or sending a message about our products in the market, we will help you in growing your brand.</li>
                                        <li><strong>Improve search ranking (SEO)</strong><br>Apart from creating high-quality videos, we have a specialized team of search engine optimization experts who will write quality content for your video and improve your search ranking.</li>
                                    </ul>
                                </div>

                                <!--Two Column-->                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Quote Section-->
    <section class="quote-two-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Title Column-->
                <div class="title-column col-md-3 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Request a Quote</h2>
                        <div class="text">Your details are kept strictly confidential as per our company private & privacy policy.</div>
                        <a class="plans" href="{% url 'contact' %}"><span class="arrow flaticon-right-arrow-1"></span>Pricing Plans</a>
                    </div>
                </div>
                
                <!--Form Column-->
                <div class="form-column col-md-9 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="text">For any inquiry, fill the form below:</div>
                        
                        <!--Contact Form-->
                        <div class="quote-form style-two">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.name }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.inquiry_email }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.service }}
                                        </div>
                                    </div>
                                    
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.requirements }}
                                        </div>
                                    </div>
                                    <div class="column btn-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Quote Section-->
    {% endblock %}
