  {% extends 'base.html'%}
  {% block title %} Innovative Website Design & Development Company in Delhi{% endblock %}
  {% block content %}
  {% load static %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/pattern-4.png' %});">
        <div class="auto-container">
            <h1>Website Design and Development</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Web Development</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar services-sidebar">
						
                        <div class="sidebar-title">
                        	<h2>Our services</h2>
                        </div>
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat-two">
                                <li><a href="{% url 'digital' %}">Digital Marketing</a></li>
                                <li><a href="{% url 'seo' %}">Search Engine Optimization</a></li>
                                <li><a href="{% url 'smo' %}">Social Media Optimization</a></li>
                                <li class="active"><a href="{% url 'web' %}">Web Development</a></li>
                                <li><a href="{% url 'ppc' %}">PPC Click Management</a></li>
                                <li><a href="{% url 'software' %}">Customized Software Development</a></li>
                            </ul>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget sidebar-brochure">
                        	<div class="sidebar-title">
                                <h2>Our Brochures</h2>
                            </div>
                        	<a class="brochure" href="#"><span class="icon flaticon-pdf"></span>Service Overview <span>Download.pdf</span></a>
                            <a class="brochure" href="#"><span class="icon flaticon-word-file"></span>About Our Company <span>Download.doc</span></a>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget testimonial-widget">
                            <div class="sidebar-title">
                                <h2>Testimonials</h2>
                            </div>
                            <div class="single-item-carousel owl-carousel owl-theme">
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Ayush Garg</h3>
                                                <div class="location">Softsmart, Punjab</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Groww has not only increased our visibility but also provide us full digital marketing service that encompasses social media, demand generation, digital advertising, search engine optimization, email, and marketing automation.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">                                                
                                                <h3>David</h3>
                                                <div class="location">Maxi Adventures, New Zealand</div>
                                            </div>
                                        </div>
                                        <div class="text">We started working with Viral Grow Marketing solutions from their establishment and they have been amazing. The success we have undergone year over has strengthened our position in Appareal’s Market.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Abhijeet Poddar</h3>
                                                <div class="location">Qualmart Fabrics, Delhi</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Grow Marketing Solutions has been very helpful in increasing our online visibility and lead generation from ad campaigns and organic search. I am really impressed with their high level of service.The team of Viral Groww is Professional and responsive.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                	<!--Services Single-->
                	<div class="services-single">
						<div class="inner-box">
                        	<h2>Website Design and Development</h2>
                            <div class="image">
                                <img src="{% static 'images/resource/service-7.jpg' %}" alt="" />
                            </div>
                            <div class="lower-content">
                            	<div class="text">
                                	<p>Websites are generally considered to be the primordial forms of online marketing in the way that their importance might never go out of style. One of the primary concerns wherein brands and companies want websites are generally concerned with respect to the immediate requirements of marketing, and establishing brand identity upon a constituted basis. Websites often happen to be the primary identifier of a business or an organization on the internet. They contain all possible information about the business in question, as well as the core mode through which audience connection can be established. Though effective and expert website services, well-made and fully functional websites can help in all possible activities that anyone might expect from the same. Website design is another niche or extension of the overall development process that effectively makes the website in question relatable to the brand identity and persona. </p>
                                    <h3>What can be the expectations from a Website Designing Company?</h3>
                                    <p>Website development is an extended process, often taking a considerable amount of time and investment on the part of the customer. You would want everything good and desirable about the brand to be a part of the website and occupy accordingly prominent positions throughout the website in an attractive and engaging way. The essential web services often require a base knowledge, and a team that can effectively bear the burden of creating something that is wholly original, and by all measures, serve exactly serve all the functions it was supposed as per your own requirements. Any effective website is built in an incremental way, and should contain multiple access points through which it can be viewed in highly distinct and unique ways.</p>
                                    <h3>What are the other services that can be expected from a web development company?</h3>
                                    <p>You can need to access the website in such a way that you are left with option of editing and manipulating content. This is generally the admin aspect, and can serve as an important aspect of your overall website architecture. Essential website maintenance services can also be part of your demands because you want all the essential and important work with experts. This is one of the core services that are generally expected from web designing service at large. Website revamping is often asked because somebody can believe that the website they already own might not be up to contemporary standards, and wants to give it a significant makeover. Any website revamping company can be contacted to facilitate to restructuring and redesigning. Although the latter is referred to separately as Web Redesigning, it is often considered to be a part of a singular improvement package.<br>
                                    Viral Groww offers exclusive with regards to providing all the essential web development services and has a dedicated team or division who effectively performs every part of the job that can be considered services provided by any Best Website Development Company in the world. Of course, we try to take into stock any possible request our clients and try to overcome them by effectively applying knowledge and expertise to the fullest extent, sometimes going beyond that mark too.</p>
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Quote Section-->
    <section class="quote-two-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Title Column-->
                <div class="title-column col-md-3 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Request a Quote</h2>
                        <div class="text">Your details are kept strictly confidential as per our company private & privacy policy.</div>
                        <a class="plans" href="{% url 'contact' %}"><span class="arrow flaticon-right-arrow-1"></span>Pricing Plans</a>
                    </div>
                </div>
                
                <!--Form Column-->
                <div class="form-column col-md-9 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="text">For any inquiry, fill the form below:</div>
                        
                        <!--Contact Form-->
                        <div class="quote-form style-two">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.name }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.inquiry_email }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.service }}
                                        </div>
                                    </div>
                                    
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.requirements }}
                                        </div>
                                    </div>
                                    <div class="column btn-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Quote Section-->
    {% endblock %}
