  {% extends 'base.html'%}
  {% block title %} Innovative Website Design & Development Company in Delhi{% endblock %}
    {% block meta %}
  <meta name="description" content="Choose the Best Website design & development company in Design, for App development, Website revamping & redesigning. Call @ 9625165218 for Inquiry.
">
  <meta name="keywords" content="Website development company, Website development company india, Website development company Delhi, Website design Delhi, Website development Delhi, website design and development Delhi, website development Delhi, Application developer Delhi, cheap app developer Delhi, app development company Delhi
">

  {% endblock %}
  {% block content %}
  {% load static %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/pattern-4.png' %});">
        <div class="auto-container">
            <h1>Website Design and Development</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Web Development</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar services-sidebar">
						
                        <div class="sidebar-title">
                        	<h2>Our services</h2>
                        </div>
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat-two">
                                <li><a href="{% url 'digital' %}">Digital Marketing</a></li>
                                <li><a href="{% url 'seo' %}">Search Engine Optimization</a></li>
                                <li><a href="{% url 'smo' %}">Social Media Optimization</a></li>
                                <li class="active"><a href="{% url 'web' %}">Web Development</a></li>
                                <li><a href="{% url 'ppc' %}">PPC Click Management</a></li>
                                <li><a href="{% url 'software' %}">Customized Software Development</a></li>
                            </ul>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget sidebar-brochure">
                        	<div class="sidebar-title">
                                <h2>Our Brochures</h2>
                            </div>
                        	<a class="brochure" href="#"><span class="icon flaticon-pdf"></span>Service Overview <span>Download.pdf</span></a>
                            <a class="brochure" href="#"><span class="icon flaticon-word-file"></span>About Our Company <span>Download.doc</span></a>
                        </div>
                        
                        <!-- Sidebar brochure-->
                        <div class="sidebar-widget testimonial-widget">
                            <div class="sidebar-title">
                                <h2>Testimonials</h2>
                            </div>
                            <div class="single-item-carousel owl-carousel owl-theme">
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Ayush Garg</h3>
                                                <div class="location">Softsmart, Punjab</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Groww has not only increased our visibility but also provide us full digital marketing service that encompasses social media, demand generation, digital advertising, search engine optimization, email, and marketing automation.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">                                                
                                                <h3>David</h3>
                                                <div class="location">Maxi Adventures, New Zealand</div>
                                            </div>
                                        </div>
                                        <div class="text">We started working with Viral Grow Marketing solutions from their establishment and they have been amazing. The success we have undergone year over has strengthened our position in Appareal’s Market.</div>
                                    </div>
                                </div>
                                
                                <div class="slide">
                                    <div class="inner-widget">
                                        <div class="upper-box">
                                            <div class="upper-inner">
                                                <h3>Abhijeet Poddar</h3>
                                                <div class="location">Qualmart Fabrics, Delhi</div>
                                            </div>
                                        </div>
                                        <div class="text">Viral Grow Marketing Solutions has been very helpful in increasing our online visibility and lead generation from ad campaigns and organic search. I am really impressed with their high level of service.The team of Viral Groww is Professional and responsive.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                	<!--Services Single-->
                	<div class="services-single">
						<div class="inner-box">
                        	<h2>Website Design and Development</h2>
                            <div class="image">
                                <img src="{% static 'images/resource/service-7.jpg' %}" alt="" />
                            </div>
                            <div class="lower-content">
                            	<div class="text">
                                	<p>
                                  Since 2002, few things have remained timeless societal staples like Narendra Modi, Pokemon & the Internet.
                                  We are bound to have a web address to represent our business on the web. In this digital era, people search for a product online, then they check the reviews & decide to buy or not. To make this process happen, you have to have an Online Store i.e., a "Website."
                                       We are here to help you with this simple yet complex task to Design & Develop a User-Friendly Website. We make sure that your prospect goes into the Sales Funnel with just two clicks on the screen.
                                   Nowadays, every amateur can be a self-proclaimed "Expert or Professional Website Designer." One can design & develop a website on tools available online by just doing 10-15 Drag & Drop actions.
                                       </p>
                                    <h3>But do you know what the limitation is?</h3>
                                    <p>The limitation is that you won't be able to customize your website according to your needs in the long term. The given frame of any online tool restricts you from doing any edits beyond the given structure.
                                     We at Viral Groww, design & develop your website from scratch. We have expertise in Website Development using the most powerful website development language i.e., PYTHON.
                                         .</p>
                                    <h3>Let's go in detail?</h3>
                                    <p>A website comprises two fronts i.e., Front End & Back End.<br>
                                         Front End - In laymen's language, you can say that it's that part of the website which is visible to the audience. We code the front end of the site using HTML, CSS, Jquery, Javascript, Bootstrap, and Ajax.
                                        Whereas the most potent coding language Python is used to develop the BackEnd of your website.
                                        The backend of your site is responsible for things like calculations, business logic, database interactions, and performance.

                                        <br>
                                        Let's work on a plan to get you an address on the web? You are just two clicks away to get it designed for your business.
                                          </p>
                                     <a href="{% url 'quote' %}" class="theme-btn btn-style-one">Let's Design?</a>
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Quote Section-->
    <section class="quote-two-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Title Column-->
                <div class="title-column col-md-3 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Request a Quote</h2>
                        <div class="text">Your details are kept strictly confidential as per our company private & privacy policy.</div>
                        <a class="plans" href="{% url 'contact' %}"><span class="arrow flaticon-right-arrow-1"></span>Pricing Plans</a>
                    </div>
                </div>
                
                <!--Form Column-->
                <div class="form-column col-md-9 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="text">For any inquiry, fill the form below:</div>
                        
                        <!--Contact Form-->
                        <div class="quote-form style-two">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.name }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.inquiry_email }}
                                        </div>
                                        <div class="form-group">
                                            {{ inquiry_form.service }}
                                        </div>
                                    </div>
                                    
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            {{ inquiry_form.requirements }}
                                        </div>
                                    </div>
                                    <div class="column btn-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Quote Section-->
    {% endblock %}
